<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render "shared/errors", object: user %>
      <%= form_for user, {html: {class: "form-horizontal"}} do |f| %>
        <h2><%= form_type %> User</h2>

        <div class="form-group">
          <%= f.label :first_name, :class => "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :first_name, placeholder: "enter first name here", :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :last_name, :class => "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :last_name, placeholder: "enter last name here", :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :user_name, :class => "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :user_name, placeholder: "enter user name here", :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
              <h6>Gender Identity</h6>
              <br />
              <h6>Male</h6>
              <%= f.radio_button("gender_identity", 1,) %>
              <h6>Female</h6>
              <%= f.radio_button("gender_identity", 2)%>
              <h6>Prefer not to answer</h6>
              <%= f.radio_button("gender_identity", 3) %>
        </div>

        <div class="form-group">
          <%= f.label :email, :class => "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :email, placeholder: "enter email here", :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :phone, :class => "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :phone, placeholder: "enter phone number here", :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :credit_card, :class => "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :credit_card, placeholder: "enter credit card number here", :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= render partial: "address_fields", locals: {f: f} %>
        </div>

        <br />
        <br />
        <div class="form-group">
          <%= f.label :bio, :class => "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_area :bio, placeholder: "tell us about yourself", :class => "form-control" %>
          </div>
        </div>
        <%= f.submit "#{user.persisted? ? "Edit User" : "Create User"}", class: "btn btn-primary"%>
      <% end %>

    </div>
  </div>
</div>
