<div class="container">
  <h1>Welcome <%= @current_user.first_name %></h1>

  <%= link_to "Edit my Profile", edit_user_path(@current_user.id), class: "btn btn-large btn-primary btn-block", role: "button" %>

  <%= link_to "Add a New User", new_user_path, class: "btn btn-large btn-primary btn-block", role: "button" %>

  <h2>All Matches</h2>

  <table class="table table-striped table-bordered"
    <thead>
      <tr>
        <th>
          User Name
        </th>
        <th>
          User ID
        </th>
        <th>
          Gender Identity
        </th>
        <th>
          Match Score
        </th>
        <th>
          Mutal Like
        </th>
        <th>
          Degrees of Separation
        </th>
      </tr>
    </thead>
    <tbody>

      <% @matching_users.each do |u| %>
        <tr>
          <td>
            <%= link_to "#{u.user_name}", user_path(u.id) %>
          </td>
          <td>
            <%= u.id %>
          </td>
          <td>
            <%= gender_name(u.gender_identity) %>
          </td>
          <td>
            <p>
              <%= partner_score(@current_user, u) %>
            </p>
          </td>
          <td>
            <p>
              <%= partner_likes(@current_user, u) %>
            </p>
          </td>
          <td>
            <p>
              degrees
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
