<div class="container">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <h2><%= @user.user_name %></h2>
  <h3>Email: <%= @user.email %></h3>
  <h3>Gender Identity: <%= gender_name(@user.gender_identity) %></h3>
  <h3>Bio:</h3>
  <p>
    <%= @user.bio %>
  </p>
  <br />
  <br />
  <%= link_to "Back to All Matches", root_path, class: "btn btn-primary"%>
  <%= form_for :like do |f| %>
    <input type="hidden" name="liker_id" value=@current_user.id />
    <input type="hidden" name="liked_id" value=@user.id />
    <%= f.submit "Like #{@user.first_name}", class: "btn btn-primary"%>
  <% end %>
</div>
