
<div class="container">
  <% @questions.each do |q| %>
    <h4>Question # <%= q.id %></h4>
    <h3><%= q.content %></h3>
    <%= form_for @user do |user_fields| %>
      <%=user_fields.collection_radio_buttons(:users_questions_answers_ranks,
                                            possible_ans(q.id, @answers),
                                            :id,
                                            :content) %>
      <%= user_fields.submit %>
    <% end %>
</div>
<% end %>
